<!-- templates/signup.html -->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}


<h1>회원가입</h1>
<form method="POST" action="{{ url_for('main.register') }}">
    {{ form.hidden_tag() }}
    <div>
        <label for="username">사용자 이름</label>
        {{ form.username(size=32) }}
    </div>
    <div>
        <label for="password">비밀번호</label>
        {{ form.password(size=32) }}
    </div>
    <div>
        <label for="password_confirm">비밀번호 확인</label>
        {{ form.password_confirm(size=32) }}
    </div>
    <button type="submit">가입하기</button>
</form>


{% endblock %}